include ./../../layouts/mixin.jade
section#pricing.section
    .section-row-container
        .section-row
            .container
                .row
                    .col-lg-12
                        +content('home_planos/plaintitle.htm')

                .row
                    .col-md-4
                        .pricing-table(data-animation-name="flipInY")
                            +content('home_planos/plain1.htm')
                            a.btn.btn-sm.btn-primary.btn-block(href="#")
                                !='Quero saber mais'
                    .col-md-4
                        .pricing-table.featured(data-animation-name="flipInY")
                            +content('home_planos/plain2.htm')
                            a.btn.btn-sm.btn-primary.btn-block(href="#")
                                !='Quero saber mais'
                    .col-md-4
                        .pricing-table(data-animation-name="flipInY")
                            +content('home_planos/plain3.htm')
                            a.btn.btn-sm.btn-primary.btn-block(href="#")
                                !='Quero receber uma proposta'