include ./../../layouts/mixin.jade
#contact.section
    .section-row-container
        .section-row.half-padding-bottom
            .container
                .row
                    .col-lg-12
                        +content('home_contato/contacttitle.htm')

                .row
                    .col-md-8
                        +component('simpleContact')

                    .col-md-4
                        .aside.sidebar
                            +content('home_contato/contactinfo.htm')

                                                                        
        .section-row.no-padding-top.no-padding-bottom
            .google-maps-container
                #googleMap.google-maps
