include ./../../layouts/mixin.jade
+infopage('Inovar Móveis','/prog1','default','Progetto 1')
+endinfofile()

+section('styles')
link(href="/themes/atemporale/assets/fonts/novecento/stylesheet.css", rel="stylesheet")/
link(href="/themes/atemporale/assets/vendor/hydrogen/css/wp-style.min.css", rel="stylesheet")/
link(href="/themes/atemporale/assets/vendor/hydrogen/css/wp-style-inline.min.css", rel="stylesheet")/
link(href="/themes/atemporale/assets/css/prog.min.css", rel="stylesheet")/
link(href="/themes/atemporale/assets/vendor/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")/
+endsection()

+section('scripts')
script(src="/themes/atemporale/assets/vendor/jquery/dist/jquery.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/js/prod/components/hydrogen.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/vendor/html5shiv/dist/html5shiv.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/vendor/royalslider/jquery.royalslider.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/vendor/mfp/jquery.mfp-0.9.9.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/vendor/mediaelement/build/mediaelement-and-player.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/vendor/owlcarousel/owl-carousel/owl.carousel.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/vendor/isotope/dist/isotope.pkgd.min.js", type="text/javascript")
+endsection()

+section('eventuals')
//none
+endsection()

+section('pages')
section.section.project-details(data-background="/themes/atemporale/assets/images/parallax/1.jpg", data-background-xs="/themes/atemporale/assets/images/parallax/1-xs.jpg", data-background-md="/themes/atemporale/assets/images/parallax/1-md.jpg", data-background-lg="/themes/atemporale/assets/images/parallax/1-lg.jpg")
    .section-row-container
        .section-row.three-quarters-padding-bottom
            .container
                .row
                    .col-md-12
                        h1.page-title.text-center
                            | Inovar Móveis
                            small Uma identidade nova para Inovar

        +partial('inovar/copertina.htm')

        .section-row.three-quarters-padding-bottom.three-quarters-padding-top
            .container
                .row
                    .col-md-12(style="border-top:1px #ddd solid;")

        .section-row.three-quarters-padding-top.three-quarters-padding-bottom
            .container
                .row
                    .col-md-12
                        h2.page-title.text-center
                            | Marca Irresistível
                            small Projeto da Identidade visual da Marcenaria (logo, slogan, papelaria, aplicações da marca)<br />Team responsável: Alessandro Traversi, Carollina Amorim e Francislene Silva 


        .section-row.padding-top-100.three-quarters-padding-bottom
            .container
                .row
                    .col-md-12
                        h4.page-title.text-center
                            | Conceitos e Estudos 
                            small 
        +partial('inovar/processocriativo.htm')

        .section-row.no-padding-top.three-quarters-padding-bottom
            .container
                .row.padding-top-100
                    .col-md-12
                        h4.page-title.text-center.padding-bottom-50
                            | Detalhes técnicos
                            small Desenhos e especificações do projeto

                        +partial('inovar/detalhe.htm')

        .section-row.no-padding-top.three-quarters-padding-bottom
            .container
                .row.padding-top-100
                    .col-md-12
                        h4.page-title.text-center.padding-bottom-50
                            | Aplicações da marca 
                            small Cartão de visitas, envelopes, pastas, selos de garantias, uniformes, crachás e etc. 

        +partial('inovar/aplicazionedelmarchio.htm')




        .section-row.three-quarters-padding-bottom.three-quarters-padding-top
            .container
                .row
                    .col-md-12(style="border-top:1px #ddd solid;")


        .section-row.three-quarters-padding-top.three-quarters-padding-bottom
            .container
                .row
                    .col-md-12
                        h2.page-title.text-center
                            | Presença Virtual Insuperável
                            small Em breve<br />Team: Alessandro Traversi e Carollina Amorim
                        br/
                        br/
                        br/
                        br/
                .row


+endsection()