.col-text(data-animation-name="bounceIn")
    h2.headline.padding-bottom-20(style="color:#fff; line-height: 0.9em !important;")
        !='Como anda a situação do seu Design? <br /><small style="color:#ccc; font-size: 0.5em;"> A divulgação da sua empresa é adequada?  Você já se perguntou quantas oportunidades está perdendo por não ter uma presença online forte e uma marca competitiva? Você prática na sua empresa uma linguagem visual coerente para conquistar mais clientes? Vamos verificar tudo isso juntos?</small>'
    a.btn.btn-lg.btn-primary(href="#", target="_blank")
        !='Quero minha consultoria gratuita!'