.col-text(data-animation-name="bounceIn")
    h2.headline
        !='Como anda a situação do seu Design? <br /><small> A divulgação da sua empresa é adequada?  Você já se perguntou quantas oportunidades está perdendo por não ter uma presença online forte e uma marca competitiva? Você prática na sua empresa uma linguagem visual adequada para conquistar mais clientes? Vamos verificar juntos?</small>'

.col-btn(data-animation-name="fadeInUp")
    a.btn.btn-lg.btn-default(href="#")
        !='Quero minha consultoria gratuita!'