.col-md-3.col-sm-6
    .team(data-animation-name="fadeInRight")
        .team-photo
            figure
                img(src="themes/atemporale/assets/images/home/carola.jpg", alt="")/
                figcaption
                    a(href="#")
                        span.fa.fa-expand
        .team-info
            h4.team-name
                !='Carollina Amorim'
            p.team-role
                !='Co-fundadora e Diretora de projetos'
        .team-data.padding-top-100(data-name="Carollina Amorim", data-role="Co-fundadora e Diretora de projetos", data-photo="/themes/atemporale/assets/images/home/carola.jpg")
            p.padding-top-50
                !='Cinco fatos sobre mim...'
            ul
                li
                    !='Entrei de paraquedas nos design e me encantei. Graduei-me em 2009 em Design de Ambientes pela UEMG.'
                li
                    !='Quando criança gostava de desenhar roupas para as minhas bonecas e tudo que eu falava e escrevia era sobre a natureza.'

                li
                    !='Em 2010 comecei o mestrado em Ecodesign pelo Politécnico de Torino Itália aonde desenvolvi uma visão holistíca do design que aplico em tudo.'

                li
                    !='Sempre gostei de incentivar as pessoas a crescerem e a realizarem o que querem. Isso tem muito haver com o que fazemos na Atemporale'
                li
                    !='Atemporale Design é para tornar possível o propósito de construir algo de valor para o mundo e influenciar positivamente nossa rede social.'

            .spacer-60.bordered
            .social-list
                ul
                    li
                        a(href="https://instagram.com/carollinaamorim/", title="", target="_blank")
                            span.fa.fa-instagram
                    li
                        a(href="http://www.flickr.com/photos/carollamorim/", title="", target="_blank")
                            span.fa.fa-flickr
                    li
                        a(href="https://twitter.com/CarollinaAmorim", title="", target="_blank")
                            span.fa.fa-twitter
                    li
                        a(href="https://br.linkedin.com/in/carollina-amorim-73082a10b", title="", target="_blank")
                            span.fa.fa-linkedin

.col-md-3.col-sm-6
    .team(data-animation-name="fadeInRight")
        .team-photo
            figure
                img(src="themes/atemporale/assets/images/home/alefoto.jpg", alt="")/
                figcaption
                    a(href="#")
                        span.fa.fa-expand
        .team-info
            h4.team-name
                !='Alessandro Traversi'
            p.team-role
                ='Co-fundador e webdesigner'
        .team-data(data-name="Alessandro Traversi", data-role="Co-fundador e webdesigner", data-photo="themes/atemporale/assets/images/home/alefoto.jpg")
            p.padding-top-50
                ='Diretamente da Itália, decide-se aventurar pelas terras brasileiras e exercer o seu amor pelo design e grande admiração pelo Brasil. Em Torino desenvolveu trabalhos para o Centro de Pesquisa da Fiat e para diversas agências de comunicação.'
            p
                ='Graduado em Design Gráfico e Design Sistêmico (Master of Science) pelo Politecnico di Torino, seu focus é na experiência de projetação de interfaces web, com particular atenção ao conceito de acessibilidade e usabilidade.'
            .spacer-60.bordered
            .social-list
                ul
                    li
                        a(href="https://www.facebook.com/traversi.alessandro", title="", target="_blank")
                            span.fa.fa-facebook
                    li
                        a(href="https://plus.google.com/u/0/+AlessandroTraversi/about", title="", target="_blank", rel="publisher")
                            span.fa.fa-google-plus
                    li
                        a(href="https://br.linkedin.com/in/traversialessandro", title="", target="_blank")
                            span.fa.fa-linkedin
                    li
                        a(href="https://github.com/alessandrotraversi", title="", target="_blank")
                            span.fa.fa-github


.col-md-3.col-sm-6
    .team(data-animation-name="fadeInRight")
        .team-photo
            figure
                img(src="themes/atemporale/assets/images/home/1.jpg", alt="")/
                figcaption
                    a(href="#")
                        span.fa.fa-expand
        .team-info
            h4.team-name
                ='Estágio'
            p.team-role
                !='Vem aprender com a gente'
        .team-data(data-name="Estágio", data-role="Design", data-photo="themes/atemporale/assets/images/home/1.jpg")
            p.padding-top-50
                !='Já está no 4° período de Design de ambientes, gráfico ou produto? Sabe usar photoshop, illustrator ou programa similar? Tem boa disposição, muita vontade de aprender e escreve bem?'
            p
                !='Você vai desenvolver os projetos conosco, aprender a nossa metodologia sem precisar fazer cafézinho. Alguns diferenciais pode ser saber falar italiano e utilizar os programas adobe premiere e after effects. Envie-nos o seu curriculum (pode ser seu contato do linkedin se preferir!). Utilize o link abaixo.'
            
            .spacer-60.bordered
            .social-list
                ul
                    li
                        a(href="#", title="", target="_blank")
                            span.fa.fa-link
                    

.col-md-3.col-sm-6
    .team(data-animation-name="fadeInRight")
        .team-photo
            figure
                img(src="themes/atemporale/assets/images/home/2.jpg", alt="")
                figcaption
                    a(href="#")
                        span.fa.fa-expand
        .team-info
            h4.team-name
                ='Vagas'
            p.team-role
                ='Vem compor nosso team!'
        .team-data(data-name="Vagas", data-role="Redador web", data-photo="themes/atemporale/assets/images/home/2.jpg")
            p.padding-top-50
                !='Mais que funcionários procuramos pessoas que tenham muita vontade de crescer conosco, que sejam responsáveis e saibam trabalhar em equipe. Nossos horários são flexíveis. Procuramos por:'
            ul
                li
                    !='Consultor de Marketing Digital;'
                li
                    !='Designer gráfico e/ou de produto;'
                li
                    !='Editor de video;'
                li
                    !='Redator Web;'
            p
                !='Diferenciais: saber falar italiano e ter boa redação. Acredita que pode crescer com a gente? Envie-nos o seu curriculum. Utilize o link abaixo.'
        
            .spacer-60.bordered
            .social-list
                ul
                    li
                        a(href="#", title="", target="_blank")
                            span.fa.fa-link
               