.row
    .col-md-6
        .icon-box(data-animation-name="fadeInUp")
            .icon
                i.fa.fa-heart
            .info
                h4
                    !='Influenciar positivamente nossa sociedade'
                p
                    !='Sim, nós temos um ideal! Por isso quem faz projetos conosco tem a oportunidade de apoiar projetos sociais, fazendo parte de um empreendimento que inspira e soma esforços para um mundo mais ÉQUO e ECO'

    .col-md-6
        .icon-box(data-animation-name="fadeInUp")
            .icon
                i.fa.fa-line-chart
            .info
                h4
                    !='Resultados comprovados'
                p
                    !='Você vai melhorar a visibilidade do seu negócio, promover mais oportunidades e criar uma conexão mais forte com seus clientes. Além disso, através da intervenção do ecodesign, é possível reduzir e otimizar seus processos de produção ou trabalho. Consequência disso? Mais receita para você, mais valor para sociedade'
.row
    .col-md-6
        .icon-box(data-animation-name="fadeInUp")
            .icon
                i.fa.fa-key
            .info
                h4
                    !='Pensamento sistêmico'
                p
                    !='O desenvolvimento de nossos projetos se basea no design sistêmico. Este método foca no sujeito para encontrar soluções em modo holístico (a 360° com diferentes pontos de oportunidades e mudança) úteis e adequadas às pessoas.'
    .col-md-6
        .icon-box(data-animation-name="fadeInUp")
            .icon
                i.fa.fa-certificate
            .info
                h4
                    !='100% de satisfação'
                p
                    !=' Um dos nossos objetivos é que nossos clientes fiquem 100% satisfeitos ou refazemos até que isto seja alcançado, sem que você pague a mais por isso. Esta é uma de nossas garantias únicas.'