
<div class="col-md-6">
  <figure class="col-md-12">
    <h3 class="page-title text-center col-md-12 padding-top-50"><img id="costruzione_logo_cliente_inovar" src="{{'assets/images/portfolio/inovar/costruzione_logo.jpg'|theme }}" alt=""/>
      <figcaption class="text-center"><small>... e não apenas o logo, mas o slogan também</small></figcaption>
    </h3>
  </figure>
  <h3 class="page-title text-center col-md-12 padding-top-50">Conceitos chave<small>a nova marca tem que transmitir... MATÉRIA-PRIMA - o essencial para a produção de algo. Que pode sofrer transformação com TÉCNICA - método para criar algo com maestria se também der espaço a VERSATILIDADE - que tende a mudar quando se olha com outros olhos e vai além do óbvio... </small></h3>
  <p class="text-center col-md-12 padding-top-20"><span class="label label-default">inovação</span>&nbsp<span class="label label-default">técnica</span>&nbsp<span class="label label-default">versatilidade</span>
  </p>
  <h3 class="page-title text-center col-md-12"><small>para assim encontrar </small></h3>
  <h3 class="text-center col-md-12 padding-top-20">
    <o>seu jeito de Inovar!</o><img id="costruzione_logo_cliente_inovar" src="{{'assets/images/portfolio/inovar/atemporale_design_inovar_moveis.gif'|theme }}" alt=""/>
  </h3>
  <p class="text-center col-md-12 padding-top-20">O símbolo que acompanha o lettering nasce da combinação da sua parte central, que revela o aspecto versátil da marca. Deste arranjo foi possível perceber imagens que lembram móveis estilizados e modulares. Assim a dupla, simbolo e logo propõe. aos arquitetos, designers e ao seu público o desafio: “Encontre o seu jeito de inovar!”</p>
</div>