
<div id="dettagli_logo_inovar" class="col-md-6">
  <div class="row">
    <h3 class="page-title text-center col-md-12">Escolher cores<small>...significa definir o caráter da empresa</small></h3>
  </div>
  <div class="row clear padding-top-20">
    <div class="col-md-6 vcenter"><img src="{{'assets/images/portfolio/inovar/colore1.png'|theme }}" alt=""/></div>
    <div class="col-md-6 vcenter">
      <ul class="arrow-list">
        <li>HEX: #00a09a</li>
        <li>RGBA: 0,160,154,1</li>
        <li>CMYK: 80,10,45,0</li>
        <li>Pantone: 3272C Solid Coated</li>
      </ul>
    </div>
  </div>
  <div class="row clear padding-bottom-50">
    <div class="col-md-6 vcenter"><img src="{{'assets/images/portfolio/inovar/colore2.png'|theme }}" alt=""/></div>
    <div class="col-md-6 vcenter">
      <ul class="arrow-list">
        <li>HEX: #2f0e0f</li>
        <li>RGBA: 47,14,15,1</li>
        <li>CMYK: 56,91,70,81</li>
        <li>Pantone: Black 5C Solid Coated</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <h3 class="page-title text-center col-md-12">Pesquisar fontes<small>...por uma questão de estilo</small></h3>
    <figure class="col-md-12 text-center"><img src="{{ 'assets/images/portfolio/inovar/droid_sans.jpg'|theme }}" alt=""/>
      <figcaption><small>Droid Sans</small></figcaption>
    </figure>
    <figure class="col-md-12 text-center"><img src="{{ 'assets/images/portfolio/inovar/soft_elegance.jpg'|theme }}" alt=""/>
      <figcaption><small>Soft Elegance</small></figcaption>
    </figure>
  </div>
</div>