
<div data-background="/themes/atemporale/assets/images/portfolio/inovar/sketch.jpg" class="section-row half-padding-top half-padding-bottom project-media">
  <div class="media-container">
    <div class="nearby-slider">
      <div class="royalSlider rsHydrogen">
        <div class="clear"></div>
        <div class="media">
          <figure><img src="themes/atemporale/assets/images/portfolio/inovar/concept_1.jpg" alt="Técnica" class="rsImg"/>
            <figcaption class="label label-default">Técnica</figcaption>
          </figure>
        </div>
        <div class="media">
          <figure><img src="themes/atemporale/assets/images/portfolio/inovar/concept_2.jpg" alt="Matéria-prima" class="rsImg"/>
            <figcaption class="label label-default">Matéria-prima</figcaption>
          </figure>
        </div>
        <div class="media">
          <figure><img src="themes/atemporale/assets/images/portfolio/inovar/concept_3.jpg" alt="Versatilidade" class="rsImg"/>
            <figcaption class="label label-default">Versatilidade</figcaption>
          </figure>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
<h3 class="page-title text-center col-md-8 col-md-offset-2 padding-top-50 padding-bottom-100"><small>Palavras que querem significar... MATÉRIA-PRIMA - o indispensável para a produção de algo. Que pode sofrer transformação com TÉCNICA - método para criar algo com maestria se for dado também espaço a VERSATILIDADE - que tende a mudar quando se têm uma visão que vai além do óbvio, para assim encontrar o jeito de inovar!'</small></h3>