.project-image
    img(src="/themes/atemporale/assets/images/portfolio/min/atemporale_design_portfolio_min2.jpg", alt="")/
    .overlay
        ul.actions
            li.mfp-details
                a(href="/prog2")
                    span.fa.fa-eye
.project-info
    h4.project-name
        !='Vó Ligia Bolos Caseiros'
    .project-categories
        !='<span class="label label-success">Identidade Visual</span> <span class="label label-success">papelaria</span>'