.project-image
    img(src="/themes/atemporale/assets/images/portfolio/min/atemporale_design_portfolio_min6.jpg", alt="")/
    .overlay
        ul.actions
            li.mfp-details
                a(href="/prog4")
                    span.fa.fa-eye
.project-info
    h4.project-name
        !='MVIn'
    .project-categories
        !='<span class="label label-success">Web design</span> <span class="label label-success">Ecodesign</span> <span class="label label-success">ID Visual</span>'