.project-image
    img(src="/themes/atemporale/assets/images/portfolio/min/atemporale_design_portfolio_min7.jpg", alt="")/
    .overlay
        ul.actions
            li.mfp-details
                a(href="/prog3")
                    span.fa.fa-eye
.project-info
    h4.project-name
        !='Clinica Dentale Bavaria'
    .project-categories
        !='<span class="label label-success">Web Design</span> <span class="label label-success">Campanha AdWords</span>'