h4.service-name
    !='<span class="text-primary">Experiências que transformam</span><small></br>e criam um status de &quot;design quotidiano&quot;</small>'
p.service-description
    !='Projetos sociais | Museu Virtual | Pesquisas e desenvolvimento | Conscientização quotidiana |  Design Quotidiano | Oficinas e Eventos'