h4.service-name
    !='<span class="text-primary">Gestão e Consultorias eficientes</span><small></br>Para te ajudar a crescer ainda mais</small>'
p.service-description
    !='Gestão da marca e do projeto | Acompanhamento  das redes sociais | Consultorias de otimização dos processos de trabalho e prodção | Consultorias administrativas'