h4.service-name
    !='<span class="text-primary">Produtos e serviços</br>eco inteligentes</span><small></br>para economizar nosso planeta</small>'
p.service-description
    !='Ecodesign | Design sistêmico (gestão otimizada dos recursos naturais) | Design de Serviços | Oficinas de inovação e etc.'