include ./../../layouts/mixin.jade
.section-row.three-quarters-padding-bottom.three-quarters-padding-top
    .container
        .row
            img#logo_cliente_inovar.col-md-offset-3.col-md-6(src!="{{'assets/images/portfolio/inovar/logo_esecutivo_inovar_moveis.svg'|theme }}", alt="")/

.section-row.three-quarters-padding-bottom.three-quarters-padding-top
    .container
        .row
            .col-md-12
                p.col-md-offset-2.col-md-8.text-justify
                    +content('inovar/primotesto.htm')