include ./../../layouts/mixin.jade
.col-md-6
    figure.col-md-12
        h3.page-title.text-center.col-md-12.padding-top-50
            img#costruzione_logo_cliente_inovar(src!="{{'assets/images/portfolio/inovar/costruzione_logo.jpg'|theme }}", alt="")/
            figcaption.text-center
                small ... e não apenas o logo, mas o slogan também

    h3.page-title.text-center.col-md-12.padding-top-50
        | Conceitos chave
        small a nova marca tem que transmitir... MATÉRIA-PRIMA - o essencial para a produção de algo. Que pode sofrer transformação com TÉCNICA - método para criar algo com maestria e se for dado também espaço a VERSATILIDADE - que tende a mudar quando se têm uma visão que vai além do óbvio... para assim encontrar o  jeito de inovar! 

    p.text-center.col-md-12.padding-top-20
        span.label.label-default inovação
        !="&nbsp"
        span.label.label-default técnica
        !="&nbsp"
        span.label.label-default versatilidade

    h3.page-title.text-center.col-md-12
        small para assim encontrar 
    h3.text-center.col-md-12.padding-top-20
        o seu jeito de Inovar!
    
        img#costruzione_logo_cliente_inovar(src!="{{'assets/images/portfolio/inovar/atemporale_design_inovar_moveis.gif'|theme }}", alt="")/

    p.text-center.col-md-12.padding-top-20
        | O símbolo que acompanha o lettering nasce da combinação da sua parte central, que revela o aspecto versátil da marca. Deste arranjo foi possível perceber imagens que lembram móveis estilizados e modulares. Assim a dupla, simbolo e logo propõe aos arquitetos, designers e ao seu público o desafio: “Encontre o seu jeito de inovar!” 
