p
    !='Nosso agradecimento à Atemporale Design pelo excelente trabalho (...) especialmente na confecção da logomarca. Superou nossas expectativas!!! Já estamos recomendando vocês para os nossos parceiros e contatos!'
small(style="color:#803588")
    !='Alessandro Moraes<cite style="color:#fff">Gestor da Inovar Móveis LTDA</cite>'