p
    !='A equipe a Atemporale Design desenvolveu a nossa marca com muito carinho, criatividade, inteligência e com muita personalidade! Tudo ficou excelente. Recomendamos e muito!'
small
    !='Ligia Helena <cite>Vó Ligia Bolos Caseiros</cite>'