a(href="http://simoneheringer.com.br/", target="_blank", title="Site de Simone Heringer")
    img(src="/themes/atemporale/assets/images/clientes/ae_atemporale_design_brasil1.png", alt="Logo Simone Heringer")/