a(href="http://clinicadentalebavaria.it/", target="_blank",title="Site da Clinica Dentale Bavaria")
    img(src="/themes/atemporale/assets/images/clientes/ae_atemporale_design_italia2.png", alt="Logo Clinica Dentale Bavaria")/