h1.section-title.show-counter
    !='Planos especiais<small>Separamos alguns planos já para descomplicar na hora de escolher. Se preferir crie o seu pacote você mesmo e entre em contato conosco. </small>'