h2.price
    !='Flessibile<small> /serviços</small>'
h5.name
    !='<small> para você que precisa de maior flexibilidade na composição da estratégia. </small>'
.features
    ul
        li
            !='Marca irresistível <span>flessibile</span>'
        li
            !='Presença Virtual Insuperável <span>flessibile</span>'
        li
            !='Campanhas estratégicas online <span>flessibile</span>'
        li
            !='Produção de conteúdo<span> flessibile</span>'
        li
            !='Ecodesign <span>flessibile</span>'
        li
            !='Design de serviços <span>flessibile</span>'
        li
            !='Consultorias'
        li
            !='Participação em projetos sociais'

       