h2.price
    !='Completo<small> / mês</small>'
h5.name
    !='<small>Perfeito para quem já tem um negócio e quer levá-lo para um nível superior.</small>'
.features
    ul
        li
            !='Marca irresistível <span>premium</span>'
        li
            !='Presença Virtual Insuperável <span>premium</span>'
        li
            !='Campanhas estratégicas online <span>premium</span>'
        li
            !='Produção de conteúdo'
        li
            !='Ecodesign <span>premium</span>'
        li
            !='Duração de <span>4 a 8 meses</span>'

               
        