h2.price
    !='Essenziale<small> / mês</small>'
h5.name
    !='<small>Perfeito para quem está iniciando e precisa de agilidade. </small>'
.features
    ul
        li
            !='Marca irresistível <span>basic</span>'
        li
            !='Presença Virtual Insuperável <span>basic</span>'
        li
            !='Campanhas estratégicas online <span>basic</span>'
        li
            !='Ecodesign <span>basic</span>'
        li
            !='Duração màxima<span> 3 meses</span>'

               