h2.price
    !='Premium<small> /mês</small>'
h5.name
    !='<small>Perfeito para quem já tem um negócio e quer levá-lo par aum nível superior.</small>'
.features
    ul
        li
            !='Marca irresistível <span>premium</span>'
        li
            !='Presença Virtual Insuperável <span>premium</span>'
        li
            !='Campanhas estratégicas online <span>premium</span>'
        li
            !='Produção de conteúdo'
        li
            !='Ecodesign <span>basic</span>'
        li
            !='Duração mínima <span>6 meses</span>'
        li
            !='Participação em projetos sociais'
               
        