h4.splash-intro
    a(href="#")
        !='Bem vindo! Somos o estúdio'
h1.splash-headline
    !='Atemporale <span class="text-primary">Design</span>'
.splash-description
    p
        !='nossa especialidade é tranformar o seu negócio em um empreendimento inspirador e atemporal.'
