h4.splash-intro
    a(href="#")
        !='Como anda a situação do seu Design?'
h1.splash-headline
    !='Vamos verificar <span class="text-primary">agora mesmo!</span>'
.splash-description
    p
        !='Solicite uma análise gratuita e saiba como investir em design pode melhorar o seu faturamento.'
