h4.splash-intro
    a(href="#")
        !='Como anda a situação de design da sua empresa?'
h1.splash-headline
    !='Vamos <span class="text-primary">verificar!</span>'
.splash-description
    p
        !='Que tal receber uma mini análise realizando apenas 3 ações? Descubra como.'
