h4.splash-intro
    a(href="#")
        !='Benvenuto ao nosso site!'
h1.splash-headline
    !='Atemporale <span class="text-primary">Design</span>'
.splash-description
    p
        !='design e comunicação estratégica para criar novas oportunidades para você e o seu negócio.'
